#home_banner.path0{ background-color: #F12345; }
#home_banner.path1{ background-color: #FEDCBA; }
#home_banner.path2{ background-color: #987654; }
#home_banner.path3{ background-color: #321012; }
#home_banner.path4{ background-color: #012654; }
#home_banner.path5{ background-color: #111111; }
#home_banner.path6{ background-color: #222222; }
#home_banner.path7{ background-color: #333333; }
#home_banner.path8{ background-color: #444444; }
#home_banner.path9{ background-color: #555555; }