#home_banner.path1{ background-color: #FFFFFF; }
#home_banner.path2{ background-color: #DDDDDD; }
#home_banner.path3{ background-color: #BBBBBB; }
#home_banner.path4{ background-color: #999999; }
#home_banner.path5{ background-color: #777777; }