#collection .item0{ background-image: url('../../image/collection/s14/CNV000042.jpg'); }
#collection .item1{ background-image: url('../../image/collection/s14/CNV000043.jpg'); }
#collection .item2{ background-image: url('../../image/collection/s14/CNV000044.jpg'); }
#collection .item3{ background-image: url('../../image/collection/s14/CNV000045.jpg'); }
#collection .item4{ background-image: url('../../image/collection/s14/CNV000046.jpg'); }
#collection .item5{ background-image: url('../../image/collection/s14/CNV000047.jpg'); }
#collection .item6{ background-image: url('../../image/collection/s14/CNV000048.jpg'); }
#collection .item7{ background-image: url('../../image/collection/s14/CNV000049.jpg'); }

#collection.gridView .item0{ 
    width: 45%;
    margin-right: 10%;
}
#collection.gridView .item1{
    width: 45%;
    height: 45%;
    margin-bottom: 4.5%;
}
#collection.gridView .item2{
    width: 45%;
    height: 45%;
}