#payment_method{
    position: absolute;
    overflow: hidden;
    text-transform: capitalize;
    top: 19%;
    left: 32.5%;
    width: 35%;
    height: 62%;
    padding: 1% 2%;
}
#payment_method label{
    font-size: 1vw;
    font-weight: bold;
}
#payment_method table{
    width: 20%;
    font-size: 1vw;
    margin-top: 3%;
}
#payment_method table tr{ line-height: 200%; }
#payment_method table tr td{
    height: 100%;
    text-align: center;
    border: #000000 1px solid;
    cursor: pointer;
}
#payment_method div#menu{
    height: 5%;
    width: 20%;
    bottom: 10%;
    right: 8%;
}
#payment_method div#menu label{ width: 80%; }
#payment_method div#menu .next{
    position: absolute;
    right: 0%;
}