#bankwire{
    width: 430px;
    padding-right: 50px;
}
#bankwire table.payment_select{ height: 35px; }
#bankwire #scroll,
#bankwire #scroll #sub_scroll{
    height: 250px;
}
#bankwire #scroll #sub_scroll p:first-child{ text-transform: uppercase; }
#bankwire #scroll #sub_scroll p b{ color: #444; }
#bankwire div#menu{
    height: 20px;
    width: 200px;
    margin-top: 15px;
    margin-left: 225px;
}
