#shipping table{ font-size: 14px; }
#shipping table tr{ line-height: 27px; }
#shipping table tr:last-child{
    height: 45px;
    line-height: 20px;
    vertical-align: bottom;
}
#shipping table tr td{ padding: 0; }
#shipping table tr td:first-child{ width: 160px; }
#shipping table tr td:last-child{ width: 300px; }
#shipping table tr input, select{ height: 23px; }
#shipping table tr input, textarea{ padding: 0 7px; }
#shipping table tr select{ padding: 0 2px; }
#shipping table tr input:hover,
#shipping table tr input:focus,
#shipping table tr textarea:hover,
#shipping table tr textarea:focus,
#shipping table tr select:hover,
#shipping table tr select:focus{
    border: 1px solid #999;
}
#shipping table tr input,
#shipping table tr textarea,
#shipping table tr select{
    width: 270px;
    color: #666;
    font-size: 14px;
    font-family: AmericanTypewriter;
}
#shipping table tr textarea{
    padding-top: 5px;
    height: 100px;
    resize: none;
}
#shipping table tr.address td{ vertical-align: top; }
#shipping table tr.validate_fail input,
#shipping table tr.validate_fail textarea{
    border: 1px solid red;
}
#shipping table tr.validate_fail td:last-child{
    background-image: url('../image/icon_validate-warning.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 275px 5px;
}
#shipping #menu{
    width: 270px;
}
