#summary #scroll{
    height: 330px;
    width: 100%;
    overflow: hidden;
}
#summary #scroll > table{
    height: 50px;
    font-size: 14px;
}
#summary #scroll > table tr:first-child{
    height: 30px;
    vertical-align: top;
}
#summary #scroll #sub_scroll{
    overflow-x: hidden;
    width: 100%;
    height: 270px;
    padding-right: 17px;
}
#summary #scroll #sub_scroll table{ width: 450px; }
#summary #scroll #sub_scroll table tr{ line-height: 30px; }
#summary #scroll #sub_scroll table td{
    font-size: 14px;
    padding: 0;
}
#summary #scroll #sub_scroll table td.name{ width: 175px; }
#summary #scroll #sub_scroll table td.size{
    padding-left: 10px;
    width: 40px;
}
#summary #scroll #sub_scroll table td.color{ width: 50px; }
#summary #scroll #sub_scroll table td.qty{
    padding-left: 25px;
    width: 50px;
}
#summary #scroll #sub_scroll table td.price{
    padding-left: 8px;
    width: 92px;
}
#summary #scroll #sub_scroll table td span{
    display: block;
    height: 20px;
    width: 20px;
    margin: 0 15px;
}
#summary #scroll #sub_scroll hr{
    margin: 18px 5px 30px;
    width: 420px;
}
#summary #scroll #sub_scroll table#price_and_shipping tr{
    height: 25px;
    line-height: 25px;
}
#summary #scroll #sub_scroll table#price_and_shipping tr.address{
    height: 18px;
    line-height: 18px;
    vertical-align: bottom;
    color: #666;
}
#summary ul#menu{
    position: absolute;
    width: 25px;
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 150px;
    right: 20px;
}
#summary ul#menu li{
    display: block;
    height: 40px;
    margin: 5px 0;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#summary ul#menu li#up{ background-image: url('../image/icon_arrow-up.svg'); }
#summary ul#menu li#down{ background-image: url('../image/icon_arrow-down.svg'); } 
#summary div#menu{
    height: 30px;
    width: 225px;
    margin-right: 25px;
    float: right;
}
