#summary{
    position: absolute;
    overflow: hidden;
    text-transform: capitalize;
    top: 19%;
    left: 32.5%;
    width: 35%;
    height: 62%;
    padding: 1% 2%;
    font-size: 1vw;
}
#summary table{
    width: 100%;
    font-size: 1vw;
}
#summary table tr{ line-height: 200%; }