#bag{
    position: relative;
    overflow: hidden;
    width: 1100px;
    height: 370px;
    margin: 0 50px;
    font-size: 14px;
}
#bag span#bag_background{
    display: block;
    float: left;
    height: 340px;
    width: 300px;
    margin: 5px;
    background-size: cover;
    background-position: 0 center;
}
#bag #scroll{
    height: 310px;
    width: 780px;
    padding: 5px;
    overflow: hidden;
}
#bag #scroll > table{
    font-size: 14px;
    height: 50px;
}
#bag #scroll > table td{ padding: 0; }
#bag #scroll > table tr:first-child{
    height: 30px;
    vertical-align: top;
}
#bag #scroll #sub_scroll{
    overflow-x: hidden;
    height: 260px;
    width: 100%;
    padding-right: 16px;
}
#bag #scroll #sub_scroll table tr{ line-height: 35px; }
#bag #scroll #sub_scroll table tr.remove{ display: none; }
#bag #scroll #sub_scroll table tr.hilight{ background-color: #f3f467 }
#bag #scroll #sub_scroll table td{
    font-size: 14px;
    padding: 0;
}
#bag #scroll #sub_scroll table td.image{ width: 50px; }
#bag #scroll #sub_scroll table td.name{ width: 380px; }
#bag #scroll #sub_scroll table td.size{ width: 75px; }
#bag #scroll #sub_scroll table td.color{ width: 50px; }
#bag #scroll #sub_scroll table td.qty{ width: 75px; }
#bag #scroll #sub_scroll table td.price{ width: 100px; }
#bag #scroll #sub_scroll table td.remove{ width: 50px; }
#bag #scroll #sub_scroll table span{
    display: block;
    height: 30px;
    width: 30px;
}
#bag #scroll #sub_scroll table span.color{ display: none; }
#bag #scroll #sub_scroll table span.color.selected{ display: block; }
#bag #scroll #sub_scroll table td.qty input{ width: 45px; }
#bag #scroll #sub_scroll table td.image span{
    background-size: cover;
    background-position: 0 center;
    background-repeat: no-repeat;
}
#menu{
    float: left;
    width: 750px;
    height: 20px;
    padding: 5px;
    padding-bottom: 0px;
}
