#bag{
    position: absolute;
    overflow: hidden;
    top: 19%;
    left: 8%;
    width: 84%;
    height: 62%;
}
#bag span#bag_background{
    position: absolute;
    display: block;
    height: 90%;
    width: 27%;
    top: 3%;
    left: 1%;
    
    background-color: red; 
}
#bag #scroll{
    position: absolute;
    height: 81%;
    width: 70%;
    top: 3%;
    left: 29%;
    overflow: hidden;
    font-size: 1vw;
}
#bag #scroll #sub_scroll{
    overflow-x: hidden;
    width: 100%;
    padding-right: 2.5%;
}
#bag #scroll #sub_scroll table{
    width: 100%;
    font-size: 1vw;
}
#bag #scroll #sub_scroll table tr{ line-height: 200%; }
#bag #scroll #sub_scroll table tr.remove{ display: none; }
#bag #scroll #sub_scroll table td{ height: 100%; }
#bag #scroll #sub_scroll table span{
    display: block;
    height: 60%;
    width: 40%;
}
#bag #scroll #sub_scroll table span.color{ display: none; }
#bag #scroll #sub_scroll table span.color.selected{ display: block; }
#bag #scroll #sub_scroll table td.qty input{
    width: 50%;
}
#bag #scroll #sub_scroll table td.image span{
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    height: 90%;
}
#menu{
    width: 70%;
    bottom: 7%;
    left: 29%;
}
#menu label{ width: 12%; }