#main{ background: #ffffff; }
#collection{
    padding-right: 16px;
    width: 1200px;
    height: 600px;
    overflow-x: hidden;
}
#collection div{
    width: 1200px;
    height: 600px;
    margin-bottom: 35px;
    float: left;
    background-size: cover;
    background-position: center;
}