#collection{
    width: 102.5%;
    height: 100%;
    overflow-x: hidden;
}
#collection div{
    width: 100%;
    height: 100%;
}
#collection ul#menu{
    width: 4.5%;
    height: 30%;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 3%;
    right: 3%;
}
#collection ul#menu li{
    display: block;
    width: 100%;
    height: 30%;
    margin: 2% 0%;
    cursor: pointer;
}
#collection ul#menu li#up{ background: red; }
#collection ul#menu li#down{ background: blue; }
#collection ul#menu li#mode{ background: green; }