#contact{
    overflow: hidden;
    margin: 0 225px;
    padding: 10px 25px;
    width: 700px;
    height: 330px;
}
#contact label{
    font-family: BEBAS;
    font-size: 20px;
}
#contact p{ text-transform: capitalize; }
#contact a{ text-transform: none; }
#contact #detail{
    float: left;
    width: 450px;
    font-size: 12px;
    margin-top: 35px;
}
#contact #message{
    float: right;
    width: 250px;
    text-align: right;
}
#contact #message label{
    display: block;
    font-size: 12px;
}
#contact #message input, textarea{
    font-family: BEBAS;
    font-size: 12px;
    width: 250px;
    margin: 5px 0;
    padding: 2px 5px;
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}
#contact #message textarea{
    height: 100px;
    resize: none;
}
#contact #message a label{
    float: right;
    background-color: #888888;
    width: 50px;
    padding-bottom: 1px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}