#main{ background-image: url('../image/background_faq.jpg'); }
#contact{
    position: absolute;
    overflow: hidden;
    top: 19%;
    left: 18.5%;
    width: 63%;
    height: 62%;
}
#contact label{
    font-family: BEBAS;
    font-size: 0.85vw;
}
#contact > label{
    font-size: 1.5vw;
    position: absolute;
    top: 3%;
    left: 3%;
}
#contact div{ position: absolute; }
#contact p{ text-transform: capitalize; }
#contact a{ text-transform: none; }
#contact #detail{
    font-size: 0.85vw;
    top: 17.5%;
    left: 3%;
}
#contact #message{
    text-align: right;
    top: 10%;
    right: 3%;
    width: 35%;
}
#contact #message input, textarea{
    width: 100%;
    margin: 2% 0;
    font-family: BEBAS;
    font-size: 0.85vw;
    padding: 1% 2%;
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}
#contact #message a label{
    display: block;
    float: right;
    background-color: #888888;
    width: 20%;
    padding-bottom: 0.5%;
    text-align: center;
    cursor: pointer;
}