#main{ background-image: url('../image/background_girl.jpg'); }
#faq{
    overflow: hidden;
    margin: 0 100px;
    padding: 15px;
    width: 970px;
    height: 320px;
}
#faq span{
    float: left;
    display: block;
    height: 300px;
    width: 300px;
    background-image: url('../image/faq.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
#faq span label{
    text-transform: uppercase;
    text-align: center;
    font-family: BEBAS;
    font-size: 150px;
    color: rgba(255,255,255,0.75);
    display: inline-block;
    width: 300px;
    padding-bottom: 22px;
    margin-top: 40px
}
#faq #scroll{
    float: right;
    height: 300px;
    width: 650px;
    overflow: hidden;
}
#faq #scroll #sub_scroll{
    overflow-x: hidden;
    padding-right: 17px;
    width: 650px;
    height: 100%;
}
#faq #scroll #sub_scroll div{
    text-indent: 25px;
    margin: 5px;
}