#home_banner{
    position: fixed;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#home_banner label{
    display: block;
    position: absolute;
    left: 25%;
    top: 6.5%;
    width: 50%;
    height: 20%;
    background-image: url('../image/home_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#home_banner ul#list_menu{
    position: absolute;
    left: 12.5%;
    bottom: 5%;
    width: 75%;
    margin: 0;
    padding: 0;
}