#home_banner{
    position: fixed;
    top: 40%;
    left: 50%;
    width: 650px;
    height: 600px;
    transform: translate(-50%, -40%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#home_banner label{
    display: block;
    position: absolute;
    left: 150px;
    top: 65px;
    width: 334px;
    height: 126px;
    margin: 0 8px;
    background-image: url('../image/home_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
ul#list_menu{
    padding: 0 58px;
    width: 534px;
}