#home_banner{
    position: fixed;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%); /* IE 9 */
    -webkit-transform: translate(-50%, -40%); /* Chrome, Safari, Opera */
    top: 40%;
    left: 50%;
    width: 650px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#home_banner label{
    display: block;
    position: absolute;
    transform: translate(-50%, -15%);
    -ms-transform: translate(-50%, -15%); /* IE 9 */
    -webkit-transform: translate(-50%, -15%); /* Chrome, Safari, Opera */
    top: 15%;
    left: 50%;
    width: 334px;
    height: 126px;
    margin: 0 8px;
    background-image: url('../image/home_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
