ul#list_menu li{
    display: block;
    float: left;
    text-align: center;
    margin: 0% 4%;
}
ul#list_menu li a{
    font-size: 1.55vw;
    text-transform: uppercase;
    font-family: BEBAS;
    color: #FFFFFF;
    background-color: #000000;
    padding: 1% 7% 3%;
}