ul#list{
    position: absolute;
    width: 600px;
    margin: 15px 50px;
    top: 475px;
    padding: 0;
}
ul#list li{
    display: block;
    float: left;
    margin-right: 15px;
    width: 185px;
    text-transform: capitalize;
    text-align: left;
}
ul#list li.selected{ text-decoration: underline; }