ul#list_menu{
    position: absolute;
    bottom: 3%;
    margin: 0;
    padding: 0;
}
ul#list_menu li{
    display: block;
    float: left;
    text-align: center;
    margin: 0% 3.25%;
    padding: 0% 2% 0.5%;
    background-image: url('../image/background_transparent.png');
}
ul#list_menu li a{
    font-size: 1.55vw;
    text-transform: uppercase;
    font-family: BEBAS;
}