#main{
    position: fixed;
    top: 5%;
    left: 3%;
    width: 94%;
    height: 90%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#main label#logo{
    display: block;
    position: absolute;
    left: 40.5%;
    top: 2%;
    width: 19%;
    height: 13.5%;
    background-image: url('../image/home_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
#main div#top_menu{
    position: absolute;
    top: 12%;
    right: 3%;
    height: 6%;
    width: 20%;
    font-family: AmericanTypewriter-Condensed;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2vw;
    z-index: 1;
}
#main div#top_menu span{
    position: absolute;
    cursor: pointer;
    right: 0%;
    bottom: 0%;
}
#main div#top_menu span#menu_purchaseConfirm{
    right: 0%;
    bottom: 50%;
}
#main div#top_menu span#menu_faq{
    right: 65%;
    bottom: 0%;
}
#main div#top_menu span#menu_policy{
    right: 30%;
    bottom: 0%;
}
#main ul#list_menu{
    position: absolute;
    left: 29%;
    bottom: 3%;
    width: 42%;
    margin: 0;
    padding: 0;
}
div.white_opacity{
    background-image: url('../image/background_transparent.png');
}