//@color_black: #000000;
//@color_gray: #CDCDCD;

@font-face { font-family: init; }
@font-face {
    font-family: BEBAS;
    src: url('../font/BEBAS___.ttf');
}
@font-face {
    font-family: AmericanTypewriter;
    src: url('../font/AmericanTypewriter.ttf');
}
@font-face {
    font-family: AmericanTypewriter-Condensed;
    src: url('../font/AmericanTypewriter-Condensed.ttf');
}

body{
    font-family: AmericanTypewriter;
    margin: 0;
}
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }

//@img_shop-menu: url('../content/image/shop_menu.png');
/*
@font-face{
    font-family: AvenirNext;
    src: url('../content/font/AvenirNext/AvenirNext_Regular.ttf')
}
*/