#policy{
    height: 330px;
    width: 400px;
    padding: 10px;
    margin: 0 390px;
    overflow: hidden;
}
#policy label{
    font-size: 16px;
    font-family: AmericanTypewriter-Bold;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100px;
    margin: 0 150px 10px;
}
#policy #scroll{
    height: 280px;
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    background-image: url('../image/background_gray.png');
}
#policy #scroll div{
    overflow-x: hidden;
    height: 250px;
    width: 360px;
    margin: 15px 0;
    padding-left: 20px;
    padding-right: 36.5px;
}