#main{ background-image: url('../image/background_wall.jpg'); }
#shop{
    position: absolute;
    overflow: hidden;
    top: 19%;
    left: 3%;
    width: 92%;
    height: 62%;
}
#shop #scroll{
    width: 102.5%;
    height: 100%;
    overflow-x: hidden;
}
#shop #scroll span{
    width: 200px;
    margin: 0 10px 20px;
    float: left;
}
#shop #scroll span.col0{ margin-left: 0%; }
#shop #scroll span.col4{ margin-right: 0%; }