#shop{
    overflow: hidden;
    margin: 0 50px;
    width: 1100px;
    height: 350px;
}
#shop #scroll{
    padding-right: 17px;
    width: 1100px;
    height: 100%;
    overflow-x: hidden;
}
#shop #scroll span{
    width: 200px;
    height: 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 10px 20px;
    float: left;
}
#shop #scroll span.col0{ margin-left: 0%; }
#shop #scroll span.col4{ margin-right: 0%; }
