#shop{
    overflow: hidden;
    margin: 0 50px;
    width: 1100px;
    height: 350px;
}
#shop #scroll{
    padding-right: 16px;
    width: 1100px;
    height: 100%;
    overflow-x: hidden;
}
#shop #scroll img{
    width: 200px;
    margin: 0 12.5px 25px;
    float: left;
}
#shop #scroll img.col0{ margin-left: 0; }
#shop #scroll img.col4{ margin-right: 0; }
