ul#menu{
    position: absolute;
    width: 35px;
    height: 160px;
    margin: 95px 0;
    padding: 0;
    z-index: 2;
    top: 125px;
    right: 35px;
}
ul#menu li{
    display: inline-block;
    width: 35px;
    height: 40px;
    margin: 20px 0;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
ul#menu li#up{ background-image: url('../image/icon_arrow-up.svg'); }
ul#menu li#down{ background-image: url('../image/icon_arrow-down.svg'); }